*{
margin: 0;
padding: 0;
box-sizing: border-box;



}
body{
  display: grid;
  grid-template-columns:1fr 4fr; 
  border: 1px solid #000;  /*for debugging only, comment out later*/
font-size:62.5%
}


.left,.right{
  height: 100vh;
  border: 1px solid red;  /*for debugging only, comment out later*/
}

.right{
  display: grid;
  grid-template-rows:1fr 4fr;

  grid-template-areas: "header"
  "content";
}

.header,.content{

  border: 0.5px dashed orange;  /*for debugging only, comment out later*/
}


.aside{
  display: grid;
  grid-template-rows: 1fr 8fr;
  grid-template-areas:"logo"
  "menu";
  height:100vh
}



.menu-items{
  display:grid;
  gap:10px

}
.logo{

  height:25px
  width:175px;
  border: 1px solid green;
}
.menuItem{

  border: 1px solid grey;

}
.item9{
  margin-bottom:10rem;
}
.item6{

  margin-bottom:2rem;
}

.header{
  display: grid;
  grid-template-rows:1fr 1fr;
  
  grid-template-areas:"searchbar" "profile";
}
.search-top{
  
  display:grid;
  grid-template-columns: .25fr 3fr .25fr .25fr 1fr;

  align-items:center;
  justify-items:space-between;
}
.search-icon{
  justify-self:end;
margin-right: 20%;
}
.search{
  margin: 0 30%  0 0 ;
  border-radius:12px
}

.bell-icon{

  justify-self:end;
margin-right: 20%;
}
.profile-pic2{

  justify-self:end;
margin-right: 20%;

  width:auto;
  height:4vw;
}
.user-name{

  justify-self:start;

  margin-left:10%;
}
.content{
  display:grid;
  grid-auto-flow:column;
}
.profile-pic{
}

