*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
body{
  display: grid;
  grid-template-columns:1fr 4fr; 
  border: 1px solid #000;  /*for debugging only, comment out later*/
}


.left,.right{
  height: 100vh;
  border: 1px solid red;  /*for debugging only, comment out later*/
}

