:root{
--button-color: #1992d4;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;



}
body{
  display: grid;
  grid-template-columns:1fr 4fr; 
  border: 1px solid #000;  /*for debugging only, comment out later*/
font-size:62.5%
}


.left,.right{
  height: 100vh;
  border: 1px solid red;  /*for debugging only, comment out later*/
}

.right{
  display: grid;
  grid-template-rows:1fr 4fr;

  grid-template-areas: "header"
  "content";
}

.header,.content{

  border: 0.5px dashed orange;  /*for debugging only, comment out later*/
}

.aside{
  display: grid;
  grid-template-rows: 1fr 8fr;
  grid-template-areas:"logo"
  "menu";
  height:100vh
}



.menu-items{
  display:grid;
  gap:10px

}
.logo{

  height:25px
  width:175px;
  border: 1px solid green;
}
.menuItem{

  border: 1px solid grey;

}
.item9{
  margin-bottom:10rem;
}
.item6{

  margin-bottom:2rem;
}

.header{
  display: grid;
  grid-template-rows:1fr 0.75fr;
  
  grid-template-areas:"searchbar" "profile";
}
.search-top{
  
  display:grid;
  grid-template-columns: .25fr 3fr .25fr .25fr 1fr;

  align-items:center;
  justify-items:space-between;
}
.search-icon{
  justify-self:end;
margin-right: 20%;
}
.search{
  margin: 0 30%  0 0 ;
  border-radius:12px
}

.bell-icon{

  justify-self:end;
margin-right: 20%;
}
.profile-pic2{

  justify-self:start;
margin-left: auto;

  width:auto;
  height:4vw;
}
.user-name{

  justify-self:start;

  margin-left:10%;
}
.content{
  display:grid;
  grid-template-columns:10% 20% 40%;
  grid-auto-flow:column;
  justify-items:start;
  justify-content:start;
  align-items:center;
  gap:10px;

}
.profile-pic{
}
.searchHeadButtons{

  background-color: var(--button-color);
  height:auto;
  width:8rem;
  justify-self:end;
  margin: 0em;
  padding: 1em 2em;
  border-radius:100px;
}
 

.person-name{
  font-size:24px
}
.main-body{

  border: 2px solid black ;
  display:grid;
  height:80vh; /* this is just for now, remove this later*/
  grid-template-columns: 75% 25%;
  grid-template-areas:'left right'
  'left right';
}

.main-content{

  grid-area:left;
}
.right-bar-announcements{

  grid-area:right;

  display:grid;
  grid-template-rows:50% 50%;
  grid-template-areas: "top" "bottom";

}
.announcements-div{
  padding:10%;

  grid-area:top;
  display:flex;
  flex-direction:column;
}
.announcements-div-items{

  border:2px solid red;
  display:flex;
  flex-direction:column;
  border-radius:8px;

}
.trending-div{

  grid-area:bottom;
}


