*{
margin: 0;
padding: 0;
box-sizing: border-box;



}
body{
  display: grid;
  grid-template-columns:1fr 4fr; 
  border: 1px solid #000;  /*for debugging only, comment out later*/
font-size:62.5%
}


.left,.right{
  height: 100vh;
  border: 1px solid red;  /*for debugging only, comment out later*/
}

.right{
  display: grid;
  grid-template-rows:1fr 4fr;

  grid-template-areas: "header"
  "content";
}

.header,.content{

  border: 0.5px dashed orange;  /*for debugging only, comment out later*/
}


.aside{
  display: grid;
  grid-template-rows: 1fr 8fr;
  grid-template-areas:"logo"
  "menu";
  height:100vh
}



.menu-items{
  display:grid;
  gap:10px

}
.logo{

  height:25px
  width:175px;
  border: 1px solid green;
}
.menuItem{

  border: 1px solid grey;

}
.item9{
  margin-bottom:10rem;
}
