:root{
--button-color: #1992d4;
--whitish-background: rgb(136,136,146);
--search-bar-colour: rgba(226,232,240,255);
--main-colur:#E2E8F0;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
@font-face{
  font-family:"Roboto";
  src:url('./Resources/fonts/Roboto-Regular.ttf');
}

body{

  display: grid;
  grid-template-columns:1fr 4fr; 
  grid-template-rows:1.5fr 3fr; 
  grid-template-areas: 
  "left right"
  "left right";
font-size:62.5%
}


.left,.right{
  height: 100vh;
}
.left{
  grid-area:left;
}

.right{
  overflow: hidden;
  grid-area:right;
  display: grid;
  grid-template-rows:1fr 4fr;

  grid-template-areas: "header"
  "main-content";

}
.header{
 grid-area:header;
}

.header,.content{

}

.aside{
  display: grid;
  grid-template-rows: 1fr 8fr;
  grid-template-areas:"logo"
  "menu";
  height:100vh;
  background:var(--button-color);
  padding:15px 20px 20px 15px;
}



.menu-items{
  display:grid;
  gap:10px;

}
.logo{

  height:25px
  width:175px;
}
.menuItem{


}
.item9{
  margin-bottom:10rem;
}
.item6{

  margin-bottom:2rem;
}

.header{
  display: grid;
  grid-template-rows: 0.5fr 1fr ;
  
  grid-template-areas:"searchbar"  "searchbar-bottom"  ;
}
.search-top{
  
  margin-top: 10px;
  grid-area:searchbar;
  display:grid;
  grid-template-columns: .25fr 3fr .25fr .25fr .65fr;
  grid-auto-flow:column;

  align-items:center;
  justify-items:space-between;
}
.search-icon{
  width:50%;
  justify-self:end;
margin-right: 20%;
}
.search{
  margin: 0 30%  0 0 ;
  border: 1px solid var(--search-bar-colour);
  border-radius:16px;
  background-color: var(--search-bar-colour);
  height: 40%;
  padding-left:12px;
}


.bell-icon{

  justify-self:end;
margin-right: 20%;
  width:66%;
}
.profile-pic2{

  justify-self:start;
margin-left: auto;

  width:auto;
  height:4vw;
}
.profile-pic img {
  width:88%;
}
.user-name{

  justify-self:start;
  font-size:16px;
font-family:'Roboto',sans-serif;
font-weight: bold;

  margin-left:5%;
}
.content{
  grid-area:searchbar-bottom;
  display:grid;
  grid-template-columns:6% 20% 50%;
  grid-auto-flow:column;
  justify-items:start;
  justify-content:start;
  align-items:center;
  gap:10px;


}
.profile-pic{
}
.searchHeadButtons{

  background-color: var(--button-color);
  border: 0 solid #000;
  color:white;
  font-family:'Roboto',sans-serif;
  justify-content: center;
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: pointer;
  height:30px;
  width:75px;
  height:2rem;
  justify-self:end;
  margin: 0em;
  padding: 1em 2em;
  border-radius:100px;
}
 
.content p {
    font-size: 12px;
    
  font-family:'Roboto',sans-serif;
    margin-bottom: 5px;
    padding-left: 5px;
}

.person-name{
  font-size:23px;
  font-family:'Roboto',sans-serif;
}
.main-body{
  grid-area:main-content;
  border: 1px dashed black; /*remove this later */
  display:grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows:1fr 1fr;
padding: 20px 20px 10px 20px;
grid-template-areas: "body right""body right";
background-color: var(--main-colur);
}


.main-content{

  grid-area:left;
}
.right-bar-announcements{

  grid-area:right;

  display:grid;
  grid-template-rows:50% 50%;
  grid-template-areas: "top" "bottom";

}
.announcements-div{

  grid-area:top;
  display:flex;
  flex-direction:column;
}
.announcements-div-items{

  border:2px solid red;
  display:flex;
  flex-direction:column;
  border-radius:8px;

}
.trending-div{
  grid-area:bottom;
}


.filler-text{
  display:-webkit-box;
-webkit-line-clamp:3;
-webkit-box-orient:vertical;
  text-overflow:ellipsis;
  overflow:hidden;

}

.card-img{
  width:50px;
}
.dashboard-logo-svg{
filter: brightness(0) invert(1);
height:35px;
width:35px;
margin-right: 1rem;
}
.logo{
  display:flex;
  align-items:center;
}
.logo-div{
  display:flex;
  align-items:center;
  justify-content:flex-start;
  font-size:1.25rem;
  margin-left:1rem;
}

.dashboard-logo-svg{
}
.logo-div > p {

  color:white;
}
.menuItem{

filter: brightness(0) invert(1);
/*uncomment the above one later*/
  display:flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.0625rem;


  margin-left:1rem;
  font-family: Roboto;

}
.menuItem > img{

  width: 1.25rem;
  margin-right:1.25rem;
}

.aside  .dashboard-logo-svg{
width:35px;

height: 35px;
margin-right: 6px;
}
.dashboard-logo-svg + p{
  font-size:20px;
  font-weight: bold;
  padding-top: 6px;
}
.menuItem.logo-div{
  align-items: flex-start;
  padding-top: 6px;
  margin-left: 6px;
}
.projects{
  grid-area:body;
  display: grid;
  grid-template-rows:6% 90%;
}

.articles-heading{

  font-size:19px;
  
font-family:'Roboto',sans-serif;
font-weight: 500;
}

.articles{
display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap:20px;
  grid-column-gap:20px;
  padding-right: 20px;
/*grid-template-areas:"article1 article2""article3 article4" "article5 article6";*/
}

.article{
box-shadow: 0px 2px 3px rgb(175, 175, 175);
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #88c7ff, #88c7ff 2%, transparent 2%, transparent 100%) ; 
  background-color: white;
  display: flex;
  flex-direction: column;
padding: 20px 20px 20px 20px;
justify-content: space-between;
border-radius:
}
.star-eye-fork{

  align-self: flex-end;
  margin-right:50px;
display: flex;
  width:1.5rem;

}
.project-heading{
font-weight: 500;
font-size: 16px;
font-family:"Roboto",sans-serif;
}
.project-description{
font-family:"Roboto",sans-serif;
    font-size: 13px;
    color: rgb(88, 88, 88);
}
.announcements-heading{

  font-size:19px;
  
font-family:'Roboto',sans-serif;
font-weight: 500;
margin-bottom: 10px;
}

.announcements-body{
box-shadow: 0px 2px 3px rgb(175, 175, 175);
  padding: 20px 20px 20px 25px;
  background-color: #fff;
  border-radius:5px;


}

.announcement-heading{

  font-size:13px;
  
font-family:'Roboto',sans-serif;
font-weight: 500;
margin-bottom: 3px;
}
.announcement-description{

  font-family: "Roboto",sans-serif;
  font-size: 11px;
  color: rgb(88, 88, 88);

}
hr{
  margin:15px 0;
}
